package com.eazitasc.entity;

#foreach($import in $imports)
${import}
#end

#if($table.isAbstract)
@MappedSuperclass
#else
@Entity
@Table(name = "${table.name}"#if($table.getUniqueConstraints()), uniqueConstraints = {#foreach($key in $table.getUniqueConstraints())@UniqueConstraint(columnNames = {#foreach($col in $key.getColumnsOfKey())"${col}"#if(!$foreach.last), #end#end})#if(!$foreach.last), #end#end}#end)
#end
public#if($table.isAbstract) abstract#end class ${table.className}#if($table.parent) extends ${table.parent}#end {

#foreach($col in $table.column)
    @Column(name = "${col.name}"#if(!$col.nullable), nullable = false#end)
    private ${col.jvType} ${col.propertyName};

#end
#foreach($col in $table.column)
    public ${col.jvType} get${display.capitalize($col.propertyName)}() {
        return this.${col.propertyName};
    }

    public void set${display.capitalize($col.propertyName)}(final ${col.jvType} ${col.propertyName}) {
        this.${col.propertyName} = ${col.propertyName};
    }

#end
}
